NEXT_PUBLIC_API_BASE_URL=change with your API base URL, e.g. http://localhost:8000
NEXT_PUBLIC_STORAGE_URL=change with your storage URL, e.g. http://localhost:8000/storage
NEXT_PUBLIC_APP_ENV=local
NEXT_PUBLIC_APP_NAME=Helldestruction